<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet"> 

  <link rel='stylesheet' href='/stylesheets/style.css' />
  
  <title>Carstagram</title>
</head>
<body>
  <nav id="navbar">
    <ul>
      <li><a href="/accounts">Profiles</a></li>
      <li><a href="/posts">Posts</a></li>
      
      <% if(user){ %>
          <li id="profile" class="dropbtn">
            <a href="/accounts/<%= user.handle %>">My Profile</a>
            <div class="dropdown-content">
              <a href="/posts/new">New Post</a>
              <a href="/logout">Log Out</a>
            </div>
          </li>
      <% }else{ %>
        <li id="login"><a href="/login">Log In</a></li>
      <% }; %>
    </ul>
    <br>
  </nav>
  
  <main>