<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title></title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/accounts">Profiles</a></li>
      <li><a href="/posts">Posts</a></li>
      
      <% if(user){ %>
        <li><a href="/posts/new">New Post</a></li>
        <li><a href="/accounts/<%= user.handle %>">My Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
      <% }else{ %>
        <li><a href="/login">Log In</a></li>
      <% }; %>
    </ul>
  </nav>
  <main>