html{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  background-color: #f9f7f7;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}

h1{
  text-align: center;
  margin: 65px 0 0 0;
}

a{
  text-decoration: none;
  color: #3f72af;
  font-weight: bold;
}

hr{
  border-top: 1px solid lightgrey;
}

ul{
  background-color: white;
}

button{
  background-color: #112d4e;
  border: none;
  border-radius: 3px;
  color: #dbe2ef;
  padding: 2px 10px;
  border: solid #112d4e 1px;
  font-size: 15px;
  font-size: 1vw;
  transition: 0.4s;
}

button:hover{
  background-color: white;
  color: #112d4e;
  border: solid #112d4e 1px;
}

button:active :not(nav){
  background-color: black;
  color: #f9f7f7;
  border: solid black 1px;
}

input{
  background-color: #f9f7f7;
  border: none;
  border-bottom: 2px solid grey;
}

/* ----------------------------------------------------- nav */

nav{ 
  width: 100%;
  position: fixed;
  top: 0;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #112d4e;
  width: 100%;
  font-size: 0;
}

nav li{
  display: inline-block;
}

nav li a{
  display: block;
  color: #f9f7f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: .4s;
}

nav li a:hover{
  color: #112d4e;
  background-color: #f9f7f7;
}
.dropbtn:hover .dropdown-content{
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover{
  background-color: #112d4e;
  color: #f9f7f7;
}

/* ----------------------------------------------------------- Post */

.post{
  padding: 10px 0;
}

div.post ul{
  list-style: none;
  width: 40%;
  margin: 0 auto;
  padding: 0;
  box-shadow: 1px 1px 2px grey;
  border-radius: 3px;
}

div.post li.post-title p{
  font-size: 20px;
  margin: 10px;
  padding-top: 15px;
}

div.post li a{
  text-decoration: none;
  padding: 5px 10px 0 10px;
}

div.post li.post-image a{
  padding: 0;
  margin: 0;
}

div.post li.post-image img{
  width: 100%;
  min-width: 50%;
  padding: 0;
}

div.post li a{
  display: block;
  text-align: right;
}

div.post li p{
  font-size: 15px;
  padding: 0 10px 10px 10px;
}

/* ---------------------------------------------------- Post show */

.post-show{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

div.post-show div{
  margin: 0 auto;
  width: 90%;
  padding-top: 10px;
}

div.post-show img{
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 2px grey;
}

div.post-show p{
  display: block;
  text-align: center;
  margin-top: 12px;
}

div.post-show p a{
  text-align: center;
}

div.post-show ul{
  list-style: none;
  padding: 10px 0;
  background-color: #f9f7f7;
}

div.post-show button, form{
  display: inline;
}

div.post-show input[type=text]{
  width: 15%;
  display: block;
  transition: 0.4s;
  margin-bottom: 5px;
}

div.post-show input[type=text]:focus{
  width: 100%;
  outline: none;
}

div.post-show div.ps-comment-controls{
  width: 100%;
  text-align: right;
}

div.post-show li.ps-comment-user{
  font-size: 15px;
}

div.post-show li.ps-comment-content{
  display: block;
  width: 95%;
  margin: 5px auto 0 auto;
}

div.post-show h4{
  font-weight: 400;
}

/* ----------------------------------------------------- Accounts */

div.accounts-holder{
  margin-top: 100px;
}

div.accounts{
  width: 30%;
  margin: 50px auto;
  padding: 5px 0 40px 0;
  box-shadow: 1px 1px 2px grey;
  border-radius: 3px;
  text-align: center;
}

div.accounts img{
  display: block;

  width: 70%;
  margin: 0 auto;
  border: solid lightgrey 2px;
}

/* ----------------------------------------------------- Accounts show */

div.ac-top h1{
  margin-bottom: 10px;
}

div.ac-top img{
  display: block;
  width: 30%;
  margin: 0 auto 20px auto;
  box-shadow: 1px 1px 2px grey;
}

div.ac-top div{
  text-align: center;
  margin: 10px 0;
}

div.ac-posts, div.ac-comments, .ac-settings{
  width: 80%;
  margin: 0 auto;
}

div.ac-posts, div.ac-comments, div.ac-comments h2, .ac-settings{
  text-align: center;
}

div.ac-posts ul, div.ac-comments ul{
  list-style: none;
  width: 25%;
  margin: 50px 20px;
  padding: 0 0 10px 0;
  box-shadow: 1px 1px 2px grey;
  border-radius: 3px;
  font-size: 15px;
  font-size: 1.5vw;
  display: inline-block;
}

div.ac-posts img{
  width: 100%;
  transition: 1s;
}

div.ac-posts p{
  padding: 10px;
  margin: 0;
}

div.ac-posts .ac-post-control{
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

div.ac-posts form{
  padding-left: 20%;
}

div.ac-posts button{
  display: inline-block;
  width: 25%;
  margin: 0 auto;
}

div.ac-comments ul{
  padding: 10px;
}

div.ac-comments li{
  padding: 10px 0;
}

div.ac-comments .ac-comments-content{
  text-align: center;
}

div.ac-settings{
  padding-bottom: 50px;
}

/* ---------------------------------------------------- Login */

div.login{
  width: 50%;
  margin: 150px auto 50px auto;
  padding: 50px;
  box-shadow: 1px 1px 2px grey;
  border-radius: 3px;
  text-align: center;
  background-color: white;
}

div.login img{
  width: 20%;
}

/* -------------------------------------------------- new post */

.np h1{
  margin-top: 100px;
}

.np div{
  width: 50%;
  margin: 100px auto 50px auto;
  padding: 50px;
  box-shadow: 1px 1px 2px grey;
  border-radius: 3px;
  text-align: center;
  background-color: white;
}



/* ---------------------------------------------------- ids */

#profile, #logout,#npost, #login{
  float: right;
}

#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #112d4e;
  padding: 0;
  margin-top: 30px;
}