<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Carstagram</title>
</head>
<body>

    <div class="pd">

        <h1>Profile Details</h1>

        <div>
            <form action="/accounts/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <% if(user.handle == ''){ %>

                        <p>Handle</p>
                        <input type="text" name="handle" placeholder="Profile Handle" required>

                        <hr>

                        <p>Profile Image</p>
                        <label class="file-upload">
                            <input type="file" name="avatar">
                            Select Image
                        </label>

                        <hr>

                        <button type="submit">Create Profile</button>

                    <% }else{ %>
                        <p>Handle</p>
                        <input type="text" name="handle" value="<%= user.handle %>" required>

                        <hr>
                        <p>Profile Image</p>
                        <label class="file-upload">
                            <input type="file" name="avatar">
                            Update Image
                        </label>

                        <hr>

                        <button type="submit">Update Profile</button>

                    <% }; %>

                <h5><%= message %></h5>
            </form>
        </div>

    </div>

</body>
</html>