
<%- include('../partials/header') %>

    <% accounts.forEach(function(e){ %>
        <ul>
            <li><a href="accounts/<%= e.name %>"><%= e.name %></a></li>
        </ul>
    <% }); %>

<%- include('../partials/footer') %>