
<%- include('../partials/header') %>

    <% accounts.forEach(function(a){ %>
        <ul>
            <li><a href="accounts/<%= a.handle %>"><%= a.handle %></a></li>
        </ul>
    <% }); %>

<%- include('../partials/footer') %>