<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create a new account</h1>
    <form action="/accounts/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <label>Handle: 
            <input type="text" name="handle" required>
        </label>

        <label>Avatar:
            <input type="file" name="avatar" required>
        </label><br>

        <h5><%= message %></h5>

        <input type="submit" value="Create Account">
    </form>
</body>
</html>